@using HLShop.Web.Models
@model HLShop.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="account_grid">
    <div class="login-right">
        <h3>ĐĂNG NHẬP</h3>
        @using (Html.BeginForm("LoginPost", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken(); //ngan ko cho submit lien tuc
            @Html.ValidationSummary(false, "", new { @class = "error" });
            <div class="editor-field">
                <span>Tài khoản<label>*</label></span>
                @Html.TextBoxFor(model => model.Username)
            </div>
            <div class="editor-field">
                <span>Mật khẩu<label>*</label></span>
                @Html.PasswordFor(model => model.Password)
            </div>
            <div>
                @Html.CheckBoxFor(model => model.RememberMe)
                Nhớ mật khẩu
            </div>
            <input type="submit" value="Đăng nhập">
            <a href="/quen-mat-khau.html">Quên mật khẩu?</a>
        }
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginsListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </div>
    <div class="login-left">
        <h3>BẠN CHƯA CÓ TÀI KHOẢN?</h3>
        <p>Bằng việc tạo một tài khoản ở trên trang web của chúng tôi, bạn có thể thanh toán nhanh hơn, lưu trữ nhiều địa chỉ giao hàng, xem, theo dõi đơn hàng của bạn và hơn thế nữa.</p>
        <a class="acount-btn" href="/dang-ky.html">Đăng ký tài khoản tại đây</a>
    </div>
    <div class="clearfix"> </div>
</div>